:root {
  --color-primary: #4e6872;
  --color-primary-light: #bec9ce;
  --color-secondary: #ffffff;
  --color-body: #1e1e1e;

  --font-primary: 'Quicksand', Ariel, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

a {
  color: var(--color-primary);
}

mark {
  background-color: var(--color-primary-light);
}

dt {
  font-weight: bold;
  color: var(--color-primary);
}

li {
  font-weight: normal;
  color: var(--color-body);
}

q {
  font-style: italic;
}

.card-price {
  font-weight: 800;
  color: var(--color-primary);
}
