footer {
  background-color: var(--color-primary);
}

.footer-info,
.footer-h1,
.footer-h2 {
  color: var(--color-white);
}

small {
  color: var(--color-white);
}

.social-nav a {
  color: var(--color-white);
}

.nav-logo svg{
  color: var(--color-white);
}
