.dark {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 30px;
}

.dark:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-primary);
}

.light {
  background-color: var(--color-secondary);
  border-color: var(--color-primary-light);
  color: var(--color-body);
  border-radius: 30px;
}

.light:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-secondary);
}

.cart {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-body);
}
