input,
select {
  border-radius: 10px;
  border-color: var(--color-primary);
}

.flag-optional {
  color: var(--color-primary-light);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: var(--color-error-text);
}

.error-message {
  display: none;
  background-color: var(--color-error-background);
  color: var(--color-error-text);
}

.error-message-highlighted {
  background-color: var(--color-error-background);
  color: var(--color-error-text);
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}

.quantity {
  width: 50px;
}
